
p {
    background-color: #05053b65;
    padding:0px;
    font-size:28px;
    color: #ffffff;
    max-width:600px;
    text-align:center;
    margin:auto;
  }
  
  h1 {
    color: #ffffff;
    max-width:600px;
    text-align:center;
    font-size:40px;
    margin:auto;
    Padding:100px
    
  }
  
  .button a {
    margin: 5px   
  }
  
  .button {
    margin: auto;
    text-align: center;

  }

  .content {
      margin:300px;
  }