
body { 
    background-image: url("images.html\TomAndHarry.jpg");
    background-color: #00000000;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
}


p {
    background-color: #666699;
    padding:0px;
    font-size:20px;
    color: #0a0a0f;
    max-width:600px;
    text-align:center;
    margin:auto;
  }
  
  h1 {
    color: white;
    max-width:600px;
    text-align:center;
    font-size:30px;
    margin:auto;
    Padding:100px
    
  }
  
  .button a {
    margin: 5px   
  }
  
  .button {
    margin: auto;
    text-align: center;
    
  }